html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*----------Other----------*/

a {
    color: black;
    text-decoration: none;
}

    a:hover {
        color: black;
    }

/*----------Category----------*/

.category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

.category {
    position: relative;
}

.category-item {
    background-color: coral;
    border: 1px solid black;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 15px 2px #000000;
    font-weight: bold;
    padding: 3rem 0.5rem 1rem 0.5rem;
    text-align: center;
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.category-item-new {
    border: 1px solid black;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 15px 2px #000000;
    font-weight: bold;
    color: coral;
    padding: 1rem;
    text-align: center;
    height: 200px;
    width: 200px;
}

.create-category-container {
    background-color: coral;
    border: 1px solid black;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 15px 2px #000000;
    margin-top: 2rem;
    padding: 3rem 1rem 5rem 1rem;
    height: 100px;
    width: fit-content;
}

.button {
    background: none;
    border: none;
}

.edit {
    position: absolute;
    top: 10px;
    right: 15px;
}

.pen {
    margin-right: 5px;
}

/*----------Notes----------*/

.note-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

.note {
    position: relative;
}

.note-item {
    background-color: coral;
    border: 1px solid black;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 15px 2px #000000;
    font-weight: bold;
    padding: 3rem 0.5rem 1rem 0.5rem;
    text-align: center;
    min-height: 300px;
    width: 300px;
}

.note-content {
    font-weight: normal;
    text-align: left;
    padding-left: 1rem;
}

.note-item-new {
    border: 1px solid black;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 15px 2px #000000;
    font-weight: bold;
    color: coral;
    padding-top: 3rem;
    text-align: center;
    height: 300px;
    width: 300px;
}

.note-small {
    padding: 1rem 0 0 0.5rem;
    font-size: 10px;
    font-weight: normal;
    text-align: left;
}

.note-small-item {
    padding: 2px;
}

.button {
    background: none;
    border: none;
}

.edit {
    position: absolute;
    top: 10px;
    right: 15px;
}

.pen {
    margin-right: 5px;
}

.validation {
    color: red;
    font-size: 12px;
}

.search-section {
    background-color: coral;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 15px 2px #000000;
    margin-bottom: 2rem;
    padding: 2rem;
    display: inline-block;
}

    .search-section input:first-child {
        border-radius: 0.5rem;
    }

.h2-title{
    padding-bottom: 1rem;
}
