@page
@model NotesProject.Pages.Notes.EditModel
@{
}

<section>
	<h2>Pakeisti užrašą</h2>
	<div class="create-category-container category">
		<form method="post">
			<label asp-for="Note"></label>
			<input asp-for="Note.Title" />
			<input asp-for="Note.Content" />
			<input type="hidden" asp-for="Note.CategoryId" />
			<input type="submit" value="Pakeisti" />
			<div class="edit">
				<a asp-page="Index"><i class="fa-solid fa-arrow-left"></i></a>
			</div>
		</form>
	</div>
</section>